/* Disable transitions wherever possible */
div
{
	transition-delay:    0s !important;
	transition-duration: 0s !important;
}
/* Disable animations when toggling a search panel block */
.searchPanelBlock.transition > .searchPanelBlockContent
{
	max-height: unset !important;
}
.searchPanelBlock:not(.transition):not(.open) > .searchPanelBlockContent
{
	max-height: 0 !important;
}
/* Custom elements */
.ludoba13
{
	outline: dotted 3px #ff00fff0;
}
.ludoba13-planning-row > select
{
	font-size: 14px;
	width: unset;
}
.ludoba13-planning-row button
{
	border-radius: 100%;
	border:        solid 1px transparent;
	box-shadow:    0 1px 3px 0 #cacaca;
	height:        32px;
	margin:        0 4px;
	transition:    all .2s linear;
	width:         32px;
}
.ludoba13-planning-row button:hover
{
	border-color: #00000020;
}
.ludoba13-planning-row:hover button.add
{
	background-color: #b3f8e6;
}
.ludoba13-planning-row button.remove:hover
{
	background-color: #f00;
	color:            #fff;
}
.ludoba13 input.planning::placeholder
{
	color: #000;
	text-align: center;
}
.ludoba13 input.planning:placeholder-shown
{
	opacity: 1;
}