.ludoba13
{
	background-color: #ff00ff10;
	box-shadow:       #ff00ff20 0 0 12px 4px;
}

.ludoba13-planning-row > select
{
	width: unset;
}

.ludoba13-planning-row button
{
	border-radius: 100%;
	border:        solid 1px transparent;
	box-shadow:    0 1px 3px 0 #cacaca;
	height:        32px;
	margin:        0 4px;
	transition:    all .2s linear;
	width:         32px;
}
.ludoba13-planning-row button:hover
{
	border-color: #00000020;
}
.ludoba13-planning-row:hover button.add
{
	background-color: #b3f8e6;
}
.ludoba13-planning-row:hover button[data-state="edit"]
{
	background-color: #bbeeff;
}
.ludoba13-planning-row:active button[data-state="edit"]
{
	background-color: #aaddff;
	border-color:     #88bbff;
}
.ludoba13-planning-row button.remove:hover
{
	background-color: #f00;
	color:            #fff;
}
.ludoba13 input.planning::placeholder
{
	color: #000;
	text-align: center;
}
.ludoba13 input.planning:placeholder-shown
{
	opacity: 1;
}